.maklerWrapper{
    .typeHeader{
        width: 1620px;
        margin: auto;
    }

    h2{
        color: #1b0760;
        font-weight: 500;
        font-size: 28px;
        text-align: left;
    }
}