.topbar{
    position: fixed;
    background-color: white;
    z-index: 99999;
    top: 0px;
    width: 100vw;
    height: 80px;
    
}

.topbarWrapper{
    height: 55px;
    max-width: 1620px;
    margin: auto;
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: space-between;
    color: #1b0760;
   
    .left{
        flex: 2;
        display: flex;
        flex-direction: row;

        .linkWrapper{
            display: flex;
            flex-direction: row;

            img{height: 50px;}
            h3{
                margin-top: 10px;
            }

        }


        
    }

    .right{
        flex: 9;
        text-align: right;
        padding-right: 100px;
        
        //color: #f04c4c;
        
        span{
            margin: 0px 25px; 
        
            line-height: 5vh; vertical-align: middle;
        }
    }
}