.realityTableWrapper{
    max-width: 1850px;

  
    margin: auto;

    .realityTable{
        border: 1px solid #1b0760;
        border-radius: 25px;
        width: 90%;
        margin: auto;
        margin-bottom: 80px;

        border-collapse:separate; 
        border-spacing: 0 15.5px;

        thead{
            height: 40px;

            th{
            color: #1b0760;
            font-size: 20px;
            font-weight: 500;
            }
        }

        tbody{

      

            .foto{
                img{
                    width: 170px;
                    height: 85px;
                    margin-right: 5px;
                    transition: transform 0.25s;
                    object-fit: cover;
                

                    &:hover{
                        transform: scale(2.75);
                        cursor: pointer;
                        z-index: 999;
    
                    }

                }
            }

            tr{
            
                height: 50px;
                box-shadow: 0 0 2px #ccc;

                td{
                    padding: 0px 14px;

                }

                span{
                    font-size: 17px;
                }

                .dispozice{
                    width: 120px;
                }

                .typ{
                    width: 32px;                    
                    margin: auto;
                    text-align: center;
                    float: center;

                    div{
                        display: flex;
                        margin: auto;
                        margin-left: 10px;
                    }
                }
                

                .dispozice span, .vymera span{
                    font-size: 20px;
                }

                .cena span{
                    font-weight: 500;
                    font-size: 18px;
                }

            }

        }
    }

}

