.agentWrapper{
    margin-top:125px;
    margin-bottom: 50px;

    .agentDesc{
        
     
        margin: auto;
        margin-bottom: 25px;
    

        .left{
            padding: 10px 50px;
        }

        .right{
            padding: 10px 50px;
        }

        .agentInfo{

            span{
                font-size: 24px;
            }

            img{
                height: 400px;
                object-fit: contain;
                width: 400px;
            }
        }

    }

}