.offersListWrapper{

    margin-bottom: 50px;
    color: black;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    gap: 35px;
    margin: auto;
    

}

@media screen and (max-width: 1600px) {
    .offersListWrapper{
        grid-template-columns: 250px 250px 250px 250px;
        width: max-content;
        margin-left: 70px;
}
}