.newsWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1620px;
    margin: auto;

    .articleBlock{
        border: 1px solid #1b0760;
        border-radius: 25px;
        width: max-content;
        padding: 10px 40px;
        margin: auto;
        margin-bottom: 25px;
        display: grid;
    }
    

    .newsHeader{
        display: flex;
        flex-direction: column;
        text-align: center;
        float: center;
        margin: auto;  

         p{
            color:#918ca4;
         }
    }

    article{
        max-width: 1200px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        text-align: left;

        img{
            max-height: 400px;
            width: 500px;
            margin-bottom: 10px;
            margin: 10px 30px;
     
        }

        .photoImg{
            border:2px solid #fff;
            -moz-box-shadow: 10px 10px 5px #ccc;
            -webkit-box-shadow: 10px 10px 5px #ccc;
            box-shadow: 5px 5px 2.5px #ccc;
            -moz-border-radius:25px;
            -webkit-border-radius:25px;
            border-radius:25px;
        }

        h3{
            color:#1b0760;
            font-size: 22px;
            font-weight: 400;
        }

        .featuredContent{
        
            hr{
                margin-top: -20px;
                width: 95%;
                text-align: left;
                float: left;
                color: #1b0760;
            }

            span{
                color: #918ca4;                
            }
            .featureDesc{
                margin-left: 20px;
            }
            p{
                color: black;
                font-size: 13px;
                margin-top: 15px;
                margin-left: 20px;
            }
            button{
                background-color: #2584ff;
                color: white;
                font-weight:700;
                font-size: 16px;
                outline: none;
                padding: 10px 18px;
                border: 1px solid white;
                margin-top: 15px;
                //background-color: #2879fe;
                margin-left: 15px;    
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }


}
