body{
  //background: #F7FFF7;
  background: white;
  overflow-x: hidden;
}

.wrapper {
  text-align: center;
  margin: auto;
  
}

.titleHeader{
  //color: #4ECDC4;
  color: #1b0760;
  margin: auto;
  margin-bottom: 1rem;
  line-height: 1.1;
  font-size: 5rem;
  text-align: center;
  float: center;      

}

.block{
  color: white;
  width: 100vw;
  margin: auto;

}

.block--black{
  background: white;
  color: #1b0760;
}

.mTop{
  margin-top: -40px;
}

.news{
  height: 40vh;
}

.skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: 0.5rem;
}

.skewed-left {
  //clip-path:   polygon(0% 0%, 100% 2%, 100% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 00% 100%);
  padding-bottom: 0.5rem;
}
