.wrapper {
  text-align: center;
  margin: auto;
}

.block{
  background-color: black;
  color: white;
  width: 100vw;
  margin: auto;

}

.mTop{
  margin-top: -40px;
}

.news{
  margin-top: -90px;
  background-color: black;
  height: 40vh;
}

.skewed-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
  padding-bottom: 0.5rem;
}

.skewed-left {
  clip-path:   polygon(0% 0%, 100% 3%, 100% 100%, 0% 92%);
  //clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 00% 100%);
  padding-bottom: 0.5rem;
}
