html {
  scroll-behavior: smooth;
}

.link{
  text-decoration: none;
  color: #2584ff;
}

body{
  //background: #F7FFF7;
  background: white;
  overflow-x: hidden;
  height: max-content;
}

.wrapper {
  text-align: center;
  margin: auto;
  
}

.titleHeader{
  //color: #4ECDC4;
  color: #1b0760;
  margin: auto;
  margin-bottom: 1.75rem;
  line-height: 1.1;
  font-size: 5rem;
  text-align: center;
  float: center;      

}

.block{
  color: white;
  width: 100vw;
  margin: auto;


}

.link{
  text-decoration: none;
  color: inherit;
}

.block--black{
  background: white;
  color: #1b0760;
}

.mTop{
  margin-top: -40px;
}

.news{
  margin-bottom:45px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
  width: 100%;             

  .contactInfoRow{
      height: 30px;
      display: flex;
      flex-direction: row;
      float: left;
      margin: auto;
      text-align: center;
      vertical-align: middle;
    
      .contactInfoText{
          font-size: 16px;
          display: inline-block;
          margin-top: -5px;                             
      }

      .contact{
          color:#f04c4c;
          margin-right: 7.5px;                 
          font-size: 16px;  
                       
      }                    
  }      
}

button.inzerat{
  background-color: #f04c4c;
  color: white;
  font-weight:700;
  font-size: 16px;
  outline: none;
  padding: 10px 18px;
  border: 1px solid white;
  border-radius: 30px;
  //background-color: #2879fe;
  margin-left: 45px;       

  
  &:hover{
      color:#f04c4c;
      border: 1px solid #f04c4c;
      background-color: white;

  }
}

button{
  cursor: pointer;
  transition: all 0.5s;
}


.mui{        
  width: 32px;
  height: 32px;
  margin-right: 15px;
  color: #f04c4c;;
}

